<div id="calendar">
	
	<p>
		<%= @calendar.year %>
	</p>
	
	<% for month in @calendar.months %>
	<p>
		<%= month.name.first %>
		
		<% for count in month.weeks_of_month %>
		
			<p>
				<%= count.week.join(" ") %>
			</p>
			
		<% end %>
	</p>	
		
	<% end %>
</div>
