<table border>		
	<caption><h3><%= @calendar.year %></h3></caption>
		
		<% for months in @calendar.mas_months %>	
		<tr>
			<% for month in months %>
			<td>
				<div class="slot">
				<p>
					<%= link_to month.name_and_day.first, (new_month_path :mas => month.name_and_day) %>	
	
					<% for count in month.weeks_of_month %>
			
					<p>
							<% for days in count.find_weeks %>
							
								<% for day in days %>
									<%= day.date %>
								<% end %>
						
							<% end %>
					</p>

					<% end %>
				</p>			
				</div>
			</td>
			<% end %>
		</tr>
		<% end %>
</table>

