<div id="calendar">
	
	<table border>
		<tr>	
			<td>		
				
			<p>
				<%= @day.date.to_time.strftime("%A") %>
			</p>
			<p>
				<%= @day.date.to_time.day %>
			</p>
			
			</td>
		</tr>
	</table>
</div>

