development:
  adapter: mysql
  database: cal2010_development
  encoding: utf8
  socket: /tmp/mysql.sock

test:
  adapter: mysql
  database: cal2010_test
  
production:
  adapter: mysql
  database: cal2010_production
